*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0f0f0f;
    padding: 0.1vw;
  }
  
.logo{
    background-image: url(img/bloodrivericon.png);
    background-size: cover;
    z-index: 1000;
    padding: 10px;
    margin-left: 1vw;
}

.noticias-butao, .reviews-butao{
    background-image: url(img/inicio-botao.png);
    background-size: cover;
}

.sobre-o-autor-butao{
    background-image: url(img/sobre-o-autor-botao.png);
    background-size: cover;
}

.sobre-o-autor-butao, .noticias-butao, .reviews-butao{
    padding: 10px;
    margin-right: 1vw;
    flex: 1;
    font-size: 0.8vw;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60vw;
}

.container-menu a{
    text-decoration: none;
    color: #fff;
    padding: 0.7vw;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #272727;
}

.ultimas-noticias{
    color: #fff;
    margin-left: 2.5vw;
    margin-top: 0.7vw;
}

.container-barra{
    color: #5F5F5F;
    background-color: #5F5F5F;
    border-radius: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0.2vw;
    font-size: 0.5vw;
}

article a{
    text-decoration: none;
    color: #fff;
}

article a img{
    width: 324px;
    height: 208px;
    border-radius: 5px;
}

.container-artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 5vw;
    padding: 20px;
    margin: 0 auto;
}

.titulo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
}

footer{
    background-color: #0F0F0F;
    color: #fff;
    text-align: center;
    padding: 2dvw;
    bottom: 0;
    width: 100vw;
}